h3{
    text-transform: uppercase;
}
body{
    background-image:url("https://4.bp.blogspot.com/-wZs_O1shD9E/WMaVzxKPPUI/AAAAAAAAW0c/RXMa9NRJz50YJOd766NCoHLMCVneuYcewCLcB/s1600/0DD.jpg");
}
a{
    font-size: 16px;
}
#list-color{
    color: white;
    font-family: Arial;
}
header{
    border-style:groove;
    background-color: blue;
    font-size: 1em;
}
main{
    background-color: blue;
    height: 80%;
    width: 70%;
    margin: 15px;
    padding: 10px;
}
footer{
    background-color: blue;
    margin: 15px;
    padding: 10px;
}
.job-title{
    color:white;
    font-weight:bold;
}
.large-list{
    font-size:25px;
    font-weight:bold;
}
.sublists{
    font-size: 18px;
    font-weight: normal;
}
img{
    width: 200px;
    height: 200px;
    border: 5px solid black;
}