h3{
    text-transform: uppercase;
    color: white;
}
p{
    font-family: Arial;
    color: white;
}
body{
    background-image:url("https://4.bp.blogspot.com/-wZs_O1shD9E/WMaVzxKPPUI/AAAAAAAAW0c/RXMa9NRJz50YJOd766NCoHLMCVneuYcewCLcB/s1600/0DD.jpg");
}
a{
    font-size: 16px;
    color: white;
}
h1{
    color: white;
}
h2{
    color: white;
}
ul{
    color: white;
}
header{
    border-style:groove;
    background-color: blue;
}
main{
    background-color: blue;
    height: 80%;
    width: 70%;
}
footer{
    background-color: blue;
}
.job-title{
    color:white;
    font-weight:bold;
}