footer{
    text-align: left;
    background-color:black;
    padding: 2px;
}
main{
    background-color:black;
    padding: 2px;
}
header{
    background-color:black;
    padding: 2px;
}
body{
    color:whitesmoke;
    text-align:center;
    background-image:url("https://static01.nyt.com/images/2015/07/07/science/07BRODY/07BRODY-tmagArticle.jpg");
}
a{
    color: aqua;
}
h3{
    text-decoration-line: underline;
}
.visual-aid{
    height:200px;
    width:200px;
    transition: width 3s, height 3s;
}
.visual-aid{
    transition-timing-function: ease-in-out;
}
.visual-aid:hover{
    height:400px;
    width:400px;
}
.img-text{
    font-size: xx-small;
}
.img-text:hover{
    animation: font 3s forwards;
}
@keyframes font {
    from {
        font-size: xx-small;
    }
    
    to {
        font-size:large;
    }
}
