footer{
    text-align: left;
    background-color:black;
    padding: 2px;
}
main{
    background-color:black;
    padding: 2px;
}
header{
    background-color:black;
    padding: 2px;
}
body{
    color:whitesmoke;
    text-align:center;
    background-image:url("https://static01.nyt.com/images/2015/07/07/science/07BRODY/07BRODY-tmagArticle.jpg");
}
a{
    color: aqua;
}
img{
    height:200px;
    width:200px;
    transition: width 3s, height 3s
}
.visual-aid{
    transition-timing-function: ease-in-out;
}
.visual-aid:hover{
    height:400px;
    width:400px;
}
.img-text{
    color: whitesmoke;
    text-align: right;
    z-index: 1;
    visibility:hidden;
    left:270px ;
    top: 60px;
    padding: 10px;
}
