  #primary-btn {
    background-color: #007bff;
  }
  
  #secondary-btn {
    background-color: #6c757d;
  }
  
  #danger-btn {
    padding: 10px 40px;
    background-color: #dc3545;
  }
  .dry-princelpls{
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
  }