.primary-btn {
    padding: 10px 20px;
    background-color: #007bff;
  }
  
  .secondary-btn {
    padding: 10px 20px;
    background-color: #6c757d;
  }
  
  .danger-btn {
    padding: 10px 40px;
    background-color: #dc3545;
  }
  #dry-princelpls{
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }