h2 {

    font-size: 24px;

    margin-bottom: 20px;
  }

  #cardbasics{
    padding: 20px;

    border: 1px solid #ccc;

    color:antiquewhite;

    font-size: 24px;

    margin-bottom: 10px;
  }

  .card-one {
    background-color: darkcyan;
  }

 

  .card-two {
    background-color: goldenrod;
  }

 

  .card-three {
    background-color:coral;
  }