img {
    height: 300px;  
}

img.filtered-image {
    animation: invertFilter 2s forwards;
}

@keyframes invertFilter {
    from {
        filter: invert(0%);
    }
    
    to {
        filter: invert(100%);
    }
}
